* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item-ul {
    list-style: none;
    padding: 0;
    margin-top:100px;
}

.item-li {
    width:700px;
    display: flex;
    justify-content: space-between; /* Center the content horizontally */
    align-items: center;
    margin-bottom: 20px;
    background-color: whitesmoke;
    height: 100px;
    border-radius: 20px;
    margin-right:30px;
}

.cart-image {
    width: 70px;
    margin-left:20px;
    border-radius: 10px;

}

.quantity-container {
    display: flex;
    align-items: center;
}

.button-div{
    width:150px;
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.quantity-btn {
    border:none;
    width:30px;
    border-radius: 10px;
    background-color: orangered;
    color:white
}


.minus:hover {
    background-color: red;
}

.plus-btn:hover {
    background-color: red;
}



input.no-arrows {
    width: 40px; /* Adjust as needed */
    text-align: center;
    border:none;
    color:white;
    background-color: orangered;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
}
.center-items{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.remove-btn{
    margin-left:20px;
    margin-right:20px;
    border:none;
    background-color: whitesmoke;
    width: 50px;
}

.remove-btn:hover{
    background-color:lightgray;
    border-radius: 15px;
    height: 40px;
}

.cart-header{
    font-family: 'Raleway', sans-serif;
    font-family: 'Teko', sans-serif;
    color:gray;
    font-size: 60px;
    text-align: center;
}
.full-price{
    width: 400px;
    height: 220px;
    background-color: orangered;
    margin-top:100px;
    border-radius: 20px;
    margin-left:30px;
}

.full-price p {
    color:white;
    font-family: 'Raleway', sans-serif;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    text-align: start;
    display: flex;
    justify-content: space-around;
    margin-top:20px;
    margin-bottom:50px;
}


.draw-border {
    box-shadow: inset 0 0 0 4px white;
    color: white;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
  }
  .draw-border::after {
    border-top-width: 2px;
    border-right-width: 2px;
  }
  .draw-border:hover {
    color: black;
    border: 2px solid;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: black;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    width:300px;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem "Josefin Sans", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    margin-top:15px;
  }
  .btn:focus {
    outline: 2px dotted #55d7dc;
  }

